{{> header}}
<div style="width:60%; margin: 25px auto">
    <form class="form-inline" action="/transfer" method="POST">
        
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="fromAccount" placeholder="From Account">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="toAccount" placeholder="To Account">
                </div>
            </div>
        
        <div class="form-group">
            <div class="input-group">
            <input type="text" class="form-control" name="amount" placeholder="Amount">
            <div class="input-group-addon">Point</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Transfer point</button>
    </form>
</div> 
{{> footer}}