{{> header}}

        <form action="/transfer" method="post">
            <label for="fromAccount">Transfer from: </label>
            <input id="fromAccount" type="text" name="name_field" value="Default name for team.">
            <input type="submit" value="OK">
            <br>
            <label for="team_name">Transfer from: </label>
            <input id="team_name" type="text" name="name_field" value="Default name for team.">
            <input type="submit" value="OK">
        </form>
    
{{> footer}}