{{> header}}

        {{!-- <p>Account No: {{accountNo}}<p>
        <p>Account Type: {{accountType}}<p>
        <p>Account Issuer: {{issuerAccount}}<p>
        <p>Amount: {{accountAmount}}</p> --}}
    
{{> footer}}